body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:645px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2054 {
  position:absolute;
  left:0px;
  top:85px;
  width:30px;
  height:30px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056 {
  position:absolute;
  left:30px;
  top:100px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2056_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u2056_seg1 {
  position:absolute;
  left:56px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2057 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:60px;
}
#u2058 {
  position:absolute;
  left:99px;
  top:70px;
  width:110px;
  height:59px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  word-wrap:break-word;
}
#u2060 {
  position:absolute;
  left:209px;
  top:100px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2060_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u2060_seg1 {
  position:absolute;
  left:47px;
  top:-4px;
  width:8px;
  height:467px;
}
#u2060_seg2 {
  position:absolute;
  left:47px;
  top:455px;
  width:15px;
  height:8px;
}
#u2060_seg3 {
  position:absolute;
  left:49px;
  top:449px;
  width:20px;
  height:20px;
}
#u2061 {
  position:absolute;
  left:1px;
  top:202px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1005px;
}
#u2063 {
  position:absolute;
  left:271px;
  top:57px;
  width:374px;
  height:1004px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:494px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:61px;
}
#u2065 {
  position:absolute;
  left:290px;
  top:69px;
  width:128px;
  height:60px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:22px;
  width:124px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:63px;
}
#u2067 {
  position:absolute;
  left:290px;
  top:139px;
  width:152px;
  height:62px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:23px;
  width:148px;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2069 {
  position:absolute;
  left:290px;
  top:211px;
  width:100px;
  height:60px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2071 {
  position:absolute;
  left:290px;
  top:281px;
  width:100px;
  height:60px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:59px;
}
#u2073 {
  position:absolute;
  left:290px;
  top:351px;
  width:114px;
  height:58px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:21px;
  width:110px;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:61px;
}
#u2075 {
  position:absolute;
  left:525px;
  top:351px;
  width:109px;
  height:60px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2077 {
  position:absolute;
  left:290px;
  top:419px;
  width:100px;
  height:60px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:67px;
}
#u2079 {
  position:absolute;
  left:288px;
  top:585px;
  width:139px;
  height:66px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:25px;
  width:135px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2081 {
  position:absolute;
  left:288px;
  top:661px;
  width:100px;
  height:60px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u2083 {
  position:absolute;
  left:288px;
  top:731px;
  width:100px;
  height:68px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u2085 {
  position:absolute;
  left:404px;
  top:381px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2085_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:125px;
  height:8px;
}
#u2085_seg1 {
  position:absolute;
  left:108px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2086 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2087 {
  position:absolute;
  left:288px;
  top:809px;
  width:100px;
  height:60px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2089 {
  position:absolute;
  left:288px;
  top:879px;
  width:100px;
  height:60px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2091 {
  position:absolute;
  left:528px;
  top:548px;
  width:100px;
  height:60px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2093 {
  position:absolute;
  left:528px;
  top:618px;
  width:100px;
  height:60px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2095 {
  position:absolute;
  left:528px;
  top:686px;
  width:100px;
  height:60px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2097 {
  position:absolute;
  left:528px;
  top:756px;
  width:100px;
  height:60px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2099 {
  position:absolute;
  left:427px;
  top:618px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2099_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u2099_seg1 {
  position:absolute;
  left:71px;
  top:-44px;
  width:8px;
  height:48px;
}
#u2099_seg2 {
  position:absolute;
  left:71px;
  top:-44px;
  width:30px;
  height:8px;
}
#u2099_seg3 {
  position:absolute;
  left:88px;
  top:-50px;
  width:20px;
  height:20px;
}
#u2100 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101 {
  position:absolute;
  left:427px;
  top:618px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2101_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u2101_seg1 {
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:38px;
}
#u2101_seg2 {
  position:absolute;
  left:71px;
  top:26px;
  width:30px;
  height:8px;
}
#u2101_seg3 {
  position:absolute;
  left:88px;
  top:20px;
  width:20px;
  height:20px;
}
#u2102 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103 {
  position:absolute;
  left:427px;
  top:618px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2103_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u2103_seg1 {
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2103_seg2 {
  position:absolute;
  left:71px;
  top:94px;
  width:30px;
  height:8px;
}
#u2103_seg3 {
  position:absolute;
  left:88px;
  top:88px;
  width:20px;
  height:20px;
}
#u2104 {
  position:absolute;
  left:25px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105 {
  position:absolute;
  left:427px;
  top:618px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2105_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u2105_seg1 {
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:176px;
}
#u2105_seg2 {
  position:absolute;
  left:71px;
  top:164px;
  width:30px;
  height:8px;
}
#u2105_seg3 {
  position:absolute;
  left:88px;
  top:158px;
  width:20px;
  height:20px;
}
#u2106 {
  position:absolute;
  left:25px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2107 {
  position:absolute;
  left:288px;
  top:949px;
  width:100px;
  height:60px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u2109 {
  position:absolute;
  left:423px;
  top:1032px;
  width:71px;
  height:16px;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2111 {
  position:absolute;
  left:290px;
  top:502px;
  width:100px;
  height:60px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
