body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:645px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:85px;
  width:30px;
  height:30px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993 {
  position:absolute;
  left:30px;
  top:100px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1993_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u1993_seg1 {
  position:absolute;
  left:56px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1994 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:60px;
}
#u1995 {
  position:absolute;
  left:99px;
  top:70px;
  width:110px;
  height:59px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  word-wrap:break-word;
}
#u1997 {
  position:absolute;
  left:209px;
  top:100px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1997_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u1997_seg1 {
  position:absolute;
  left:47px;
  top:-4px;
  width:8px;
  height:467px;
}
#u1997_seg2 {
  position:absolute;
  left:47px;
  top:455px;
  width:15px;
  height:8px;
}
#u1997_seg3 {
  position:absolute;
  left:49px;
  top:449px;
  width:20px;
  height:20px;
}
#u1998 {
  position:absolute;
  left:1px;
  top:202px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1005px;
}
#u2000 {
  position:absolute;
  left:271px;
  top:57px;
  width:374px;
  height:1004px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:494px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:61px;
}
#u2002 {
  position:absolute;
  left:290px;
  top:69px;
  width:128px;
  height:60px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:22px;
  width:124px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:63px;
}
#u2004 {
  position:absolute;
  left:290px;
  top:139px;
  width:152px;
  height:62px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:23px;
  width:148px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2006 {
  position:absolute;
  left:290px;
  top:211px;
  width:100px;
  height:60px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2008 {
  position:absolute;
  left:290px;
  top:281px;
  width:100px;
  height:60px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:59px;
}
#u2010 {
  position:absolute;
  left:290px;
  top:351px;
  width:114px;
  height:58px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:21px;
  width:110px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:61px;
}
#u2012 {
  position:absolute;
  left:525px;
  top:351px;
  width:109px;
  height:60px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2014 {
  position:absolute;
  left:290px;
  top:419px;
  width:100px;
  height:60px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:67px;
}
#u2016 {
  position:absolute;
  left:288px;
  top:585px;
  width:139px;
  height:66px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:25px;
  width:135px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2018 {
  position:absolute;
  left:288px;
  top:661px;
  width:100px;
  height:60px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u2020 {
  position:absolute;
  left:288px;
  top:731px;
  width:100px;
  height:68px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u2022 {
  position:absolute;
  left:404px;
  top:381px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2022_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:125px;
  height:8px;
}
#u2022_seg1 {
  position:absolute;
  left:108px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2023 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2024 {
  position:absolute;
  left:288px;
  top:809px;
  width:100px;
  height:60px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2026 {
  position:absolute;
  left:288px;
  top:879px;
  width:100px;
  height:60px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2028 {
  position:absolute;
  left:528px;
  top:548px;
  width:100px;
  height:60px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2030 {
  position:absolute;
  left:528px;
  top:618px;
  width:100px;
  height:60px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2032 {
  position:absolute;
  left:528px;
  top:686px;
  width:100px;
  height:60px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2034 {
  position:absolute;
  left:528px;
  top:756px;
  width:100px;
  height:60px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2036 {
  position:absolute;
  left:427px;
  top:618px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2036_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u2036_seg1 {
  position:absolute;
  left:71px;
  top:-44px;
  width:8px;
  height:48px;
}
#u2036_seg2 {
  position:absolute;
  left:71px;
  top:-44px;
  width:30px;
  height:8px;
}
#u2036_seg3 {
  position:absolute;
  left:88px;
  top:-50px;
  width:20px;
  height:20px;
}
#u2037 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038 {
  position:absolute;
  left:427px;
  top:618px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2038_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u2038_seg1 {
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:38px;
}
#u2038_seg2 {
  position:absolute;
  left:71px;
  top:26px;
  width:30px;
  height:8px;
}
#u2038_seg3 {
  position:absolute;
  left:88px;
  top:20px;
  width:20px;
  height:20px;
}
#u2039 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040 {
  position:absolute;
  left:427px;
  top:618px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2040_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u2040_seg1 {
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2040_seg2 {
  position:absolute;
  left:71px;
  top:94px;
  width:30px;
  height:8px;
}
#u2040_seg3 {
  position:absolute;
  left:88px;
  top:88px;
  width:20px;
  height:20px;
}
#u2041 {
  position:absolute;
  left:25px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042 {
  position:absolute;
  left:427px;
  top:618px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2042_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u2042_seg1 {
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:176px;
}
#u2042_seg2 {
  position:absolute;
  left:71px;
  top:164px;
  width:30px;
  height:8px;
}
#u2042_seg3 {
  position:absolute;
  left:88px;
  top:158px;
  width:20px;
  height:20px;
}
#u2043 {
  position:absolute;
  left:25px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2044 {
  position:absolute;
  left:288px;
  top:949px;
  width:100px;
  height:60px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u2046 {
  position:absolute;
  left:423px;
  top:1032px;
  width:71px;
  height:16px;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2048 {
  position:absolute;
  left:290px;
  top:502px;
  width:100px;
  height:60px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
