body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:763px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1687 {
  position:absolute;
  left:0px;
  top:83px;
  width:30px;
  height:30px;
}
#u1688 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689 {
  position:absolute;
  left:30px;
  top:98px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1689_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:156px;
  height:8px;
}
#u1689_seg1 {
  position:absolute;
  left:139px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1690 {
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:71px;
}
#u1691 {
  position:absolute;
  left:182px;
  top:63px;
  width:128px;
  height:70px;
}
#u1692 {
  position:absolute;
  left:2px;
  top:27px;
  width:124px;
  word-wrap:break-word;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:71px;
}
#u1693 {
  position:absolute;
  left:182px;
  top:184px;
  width:128px;
  height:70px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:27px;
  width:124px;
  word-wrap:break-word;
}
#u1695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1695 {
  position:absolute;
  left:196px;
  top:319px;
  width:100px;
  height:60px;
}
#u1696 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1697 {
  position:absolute;
  left:246px;
  top:133px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1697_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u1697_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u1698 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1699 {
  position:absolute;
  left:310px;
  top:98px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1699_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1699_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:129px;
}
#u1699_seg2 {
  position:absolute;
  left:0px;
  top:117px;
  width:14px;
  height:8px;
}
#u1699_seg3 {
  position:absolute;
  left:-7px;
  top:111px;
  width:20px;
  height:20px;
}
#u1700 {
  position:absolute;
  left:-40px;
  top:52px;
  width:100px;
  word-wrap:break-word;
}
#u1701 {
  position:absolute;
  left:246px;
  top:254px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1701_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u1701_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u1702 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u1703 {
  position:absolute;
  left:310px;
  top:219px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1703_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1703_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:138px;
}
#u1703_seg2 {
  position:absolute;
  left:-14px;
  top:126px;
  width:28px;
  height:8px;
}
#u1703_seg3 {
  position:absolute;
  left:-21px;
  top:120px;
  width:20px;
  height:20px;
}
#u1704 {
  position:absolute;
  left:-40px;
  top:64px;
  width:100px;
  word-wrap:break-word;
}
#u1705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1705 {
  position:absolute;
  left:196px;
  top:430px;
  width:100px;
  height:60px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1707 {
  position:absolute;
  left:246px;
  top:379px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1707_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u1707_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u1708 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1709 {
  position:absolute;
  left:196px;
  top:349px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1709_seg0 {
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u1709_seg1 {
  position:absolute;
  left:-18px;
  top:-4px;
  width:8px;
  height:119px;
}
#u1709_seg2 {
  position:absolute;
  left:-18px;
  top:107px;
  width:18px;
  height:8px;
}
#u1709_seg3 {
  position:absolute;
  left:-13px;
  top:101px;
  width:20px;
  height:20px;
}
#u1710 {
  position:absolute;
  left:-64px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u1711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1711 {
  position:absolute;
  left:196px;
  top:547px;
  width:100px;
  height:60px;
}
#u1712 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1713 {
  position:absolute;
  left:246px;
  top:490px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1713_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1713_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u1714 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1715 {
  position:absolute;
  left:354px;
  top:430px;
  width:100px;
  height:60px;
}
#u1716 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1717 {
  position:absolute;
  left:296px;
  top:460px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1717_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u1717_seg1 {
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1718 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1719 {
  position:absolute;
  left:354px;
  top:547px;
  width:100px;
  height:60px;
}
#u1720 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1721 {
  position:absolute;
  left:404px;
  top:490px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1721_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1721_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u1722 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1723 {
  position:absolute;
  left:506px;
  top:430px;
  width:100px;
  height:60px;
}
#u1724 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1725 {
  position:absolute;
  left:454px;
  top:460px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1725_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u1725_seg1 {
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1726 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1727 {
  position:absolute;
  left:506px;
  top:547px;
  width:100px;
  height:60px;
}
#u1728 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1729 {
  position:absolute;
  left:556px;
  top:490px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1729_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1729_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u1730 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1731 {
  position:absolute;
  left:663px;
  top:430px;
  width:100px;
  height:60px;
}
#u1732 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1733 {
  position:absolute;
  left:606px;
  top:460px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1733_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u1733_seg1 {
  position:absolute;
  left:44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1734 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
