body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:763px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:83px;
  width:30px;
  height:30px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008 {
  position:absolute;
  left:30px;
  top:98px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2008_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:156px;
  height:8px;
}
#u2008_seg1 {
  position:absolute;
  left:139px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2009 {
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:71px;
}
#u2010 {
  position:absolute;
  left:182px;
  top:63px;
  width:128px;
  height:70px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:27px;
  width:124px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:71px;
}
#u2012 {
  position:absolute;
  left:182px;
  top:184px;
  width:128px;
  height:70px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:27px;
  width:124px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2014 {
  position:absolute;
  left:196px;
  top:319px;
  width:100px;
  height:60px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2016 {
  position:absolute;
  left:246px;
  top:133px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2016_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u2016_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u2017 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u2018 {
  position:absolute;
  left:310px;
  top:98px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2018_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u2018_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:129px;
}
#u2018_seg2 {
  position:absolute;
  left:0px;
  top:117px;
  width:14px;
  height:8px;
}
#u2018_seg3 {
  position:absolute;
  left:-7px;
  top:111px;
  width:20px;
  height:20px;
}
#u2019 {
  position:absolute;
  left:-40px;
  top:52px;
  width:100px;
  word-wrap:break-word;
}
#u2020 {
  position:absolute;
  left:246px;
  top:254px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2020_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u2020_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u2021 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u2022 {
  position:absolute;
  left:310px;
  top:219px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2022_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u2022_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:138px;
}
#u2022_seg2 {
  position:absolute;
  left:-14px;
  top:126px;
  width:28px;
  height:8px;
}
#u2022_seg3 {
  position:absolute;
  left:-21px;
  top:120px;
  width:20px;
  height:20px;
}
#u2023 {
  position:absolute;
  left:-40px;
  top:64px;
  width:100px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2024 {
  position:absolute;
  left:196px;
  top:430px;
  width:100px;
  height:60px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2026 {
  position:absolute;
  left:246px;
  top:379px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2026_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u2026_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u2027 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u2028 {
  position:absolute;
  left:196px;
  top:349px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2028_seg0 {
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u2028_seg1 {
  position:absolute;
  left:-18px;
  top:-4px;
  width:8px;
  height:119px;
}
#u2028_seg2 {
  position:absolute;
  left:-18px;
  top:107px;
  width:18px;
  height:8px;
}
#u2028_seg3 {
  position:absolute;
  left:-13px;
  top:101px;
  width:20px;
  height:20px;
}
#u2029 {
  position:absolute;
  left:-64px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2030 {
  position:absolute;
  left:196px;
  top:547px;
  width:100px;
  height:60px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2032 {
  position:absolute;
  left:246px;
  top:490px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2032_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u2032_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u2033 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2034 {
  position:absolute;
  left:354px;
  top:430px;
  width:100px;
  height:60px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2036 {
  position:absolute;
  left:296px;
  top:460px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2036_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u2036_seg1 {
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2037 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2038 {
  position:absolute;
  left:354px;
  top:547px;
  width:100px;
  height:60px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2040 {
  position:absolute;
  left:404px;
  top:490px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2040_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u2040_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u2041 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2042 {
  position:absolute;
  left:506px;
  top:430px;
  width:100px;
  height:60px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2044 {
  position:absolute;
  left:454px;
  top:460px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2044_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u2044_seg1 {
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2045 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2046 {
  position:absolute;
  left:506px;
  top:547px;
  width:100px;
  height:60px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2048 {
  position:absolute;
  left:556px;
  top:490px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2048_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u2048_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u2049 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2050 {
  position:absolute;
  left:663px;
  top:430px;
  width:100px;
  height:60px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2052 {
  position:absolute;
  left:606px;
  top:460px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2052_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u2052_seg1 {
  position:absolute;
  left:44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2053 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
