body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:728px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u104 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u107 {
  position:absolute;
  left:14px;
  top:10px;
  width:13px;
  height:25px;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:51px;
  top:10px;
  width:270px;
  height:25px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u110 {
  position:absolute;
  left:338px;
  top:10px;
  width:25px;
  height:25px;
}
#u111 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:130px;
}
#u113 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:129px;
}
#u114 {
  position:absolute;
  left:2px;
  top:56px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u115 {
  position:absolute;
  left:131px;
  top:55px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:104px;
}
#u117 {
  position:absolute;
  left:14px;
  top:55px;
  width:106px;
  height:104px;
}
#u118 {
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u119 {
  position:absolute;
  left:131px;
  top:84px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u121 {
  position:absolute;
  left:131px;
  top:118px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u123 {
  position:absolute;
  left:131px;
  top:142px;
  width:99px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u125 {
  position:absolute;
  left:295px;
  top:119px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:130px;
}
#u128 {
  position:absolute;
  left:0px;
  top:174px;
  width:375px;
  height:129px;
}
#u129 {
  position:absolute;
  left:2px;
  top:56px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u130 {
  position:absolute;
  left:131px;
  top:185px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:104px;
}
#u132 {
  position:absolute;
  left:14px;
  top:185px;
  width:106px;
  height:104px;
}
#u133 {
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u134 {
  position:absolute;
  left:131px;
  top:214px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u136 {
  position:absolute;
  left:131px;
  top:248px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u138 {
  position:absolute;
  left:131px;
  top:272px;
  width:99px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u140 {
  position:absolute;
  left:295px;
  top:249px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:130px;
}
#u143 {
  position:absolute;
  left:0px;
  top:304px;
  width:375px;
  height:129px;
}
#u144 {
  position:absolute;
  left:2px;
  top:56px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u145 {
  position:absolute;
  left:131px;
  top:315px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:104px;
}
#u147 {
  position:absolute;
  left:14px;
  top:315px;
  width:106px;
  height:104px;
}
#u148 {
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u149 {
  position:absolute;
  left:131px;
  top:344px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u151 {
  position:absolute;
  left:131px;
  top:378px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u153 {
  position:absolute;
  left:131px;
  top:402px;
  width:99px;
  height:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u155 {
  position:absolute;
  left:295px;
  top:379px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:130px;
}
#u158 {
  position:absolute;
  left:0px;
  top:434px;
  width:375px;
  height:129px;
}
#u159 {
  position:absolute;
  left:2px;
  top:56px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u160 {
  position:absolute;
  left:131px;
  top:445px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:104px;
}
#u162 {
  position:absolute;
  left:14px;
  top:445px;
  width:106px;
  height:104px;
}
#u163 {
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u164 {
  position:absolute;
  left:131px;
  top:474px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u166 {
  position:absolute;
  left:131px;
  top:508px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u168 {
  position:absolute;
  left:131px;
  top:532px;
  width:99px;
  height:16px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u170 {
  position:absolute;
  left:295px;
  top:509px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:84px;
}
#u173 {
  position:absolute;
  left:0px;
  top:564px;
  width:375px;
  height:83px;
}
#u174 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u175 {
  position:absolute;
  left:131px;
  top:571px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:69px;
}
#u177 {
  position:absolute;
  left:14px;
  top:575px;
  width:106px;
  height:69px;
}
#u178 {
  position:absolute;
  left:2px;
  top:26px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u179 {
  position:absolute;
  left:131px;
  top:600px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u181 {
  position:absolute;
  left:295px;
  top:612px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
}
#u184 {
  position:absolute;
  left:0px;
  top:601px;
  width:375px;
  height:46px;
  text-align:left;
}
#u185 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u186 {
  position:absolute;
  left:14px;
  top:616px;
  width:93px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u186_ann {
  position:absolute;
  left:100px;
  top:612px;
  width:1px;
  height:1px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
}
#u188 {
  position:absolute;
  left:213px;
  top:609px;
  width:86px;
  height:30px;
}
#u188_img.disabled {
}
#u188.disabled {
}
#u189 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u188_ann {
  position:absolute;
  left:292px;
  top:605px;
  width:1px;
  height:1px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:31px;
}
#u190 {
  position:absolute;
  left:309px;
  top:609px;
  width:54px;
  height:30px;
}
#u191 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u190_ann {
  position:absolute;
  left:356px;
  top:605px;
  width:1px;
  height:1px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u192 {
  position:absolute;
  left:14px;
  top:56px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#009933;
  text-align:center;
}
#u193 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u194 {
  position:absolute;
  left:14px;
  top:186px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#009933;
  text-align:center;
}
#u195 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u196 {
  position:absolute;
  left:14px;
  top:316px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#009933;
  text-align:center;
}
#u197 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u198 {
  position:absolute;
  left:14px;
  top:446px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#009933;
  text-align:center;
}
#u199 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u200 {
  position:absolute;
  left:14px;
  top:575px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#009933;
  text-align:center;
}
#u201 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u202 {
  position:absolute;
  left:14px;
  top:576px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#999999;
  text-align:center;
}
#u203 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u204 {
  position:absolute;
  left:14px;
  top:57px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#999999;
  text-align:center;
}
#u205 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u204_ann {
  position:absolute;
  left:37px;
  top:53px;
  width:1px;
  height:1px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u206 {
  position:absolute;
  left:14px;
  top:187px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#999999;
  text-align:center;
}
#u207 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u208 {
  position:absolute;
  left:14px;
  top:317px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#999999;
  text-align:center;
}
#u209 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u210 {
  position:absolute;
  left:14px;
  top:447px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#999999;
  text-align:center;
}
#u211 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:17px;
}
#u212 {
  position:absolute;
  left:14px;
  top:678px;
  width:219px;
  height:16px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:61px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u214_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u214_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:71px;
  height:8px;
}
#u214_seg2 {
  position:absolute;
  left:59px;
  top:24px;
  width:8px;
  height:22px;
}
#u214_seg3 {
  position:absolute;
  left:53px;
  top:33px;
  width:20px;
  height:20px;
}
#u215 {
  position:absolute;
  left:-24px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:17px;
}
#u216 {
  position:absolute;
  left:265px;
  top:678px;
  width:379px;
  height:16px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u218 {
  position:absolute;
  left:256px;
  top:639px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u218_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u218_seg1 {
  position:absolute;
  left:-4px;
  top:17px;
  width:207px;
  height:8px;
}
#u218_seg2 {
  position:absolute;
  left:195px;
  top:17px;
  width:8px;
  height:22px;
}
#u218_seg3 {
  position:absolute;
  left:189px;
  top:26px;
  width:20px;
  height:20px;
}
#u219 {
  position:absolute;
  left:48px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:17px;
}
#u220 {
  position:absolute;
  left:391px;
  top:142px;
  width:337px;
  height:16px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:44px;
  top:72px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u222_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u222_seg1 {
  position:absolute;
  left:62px;
  top:-4px;
  width:8px;
  height:43px;
}
#u222_seg2 {
  position:absolute;
  left:62px;
  top:31px;
  width:458px;
  height:8px;
}
#u222_seg3 {
  position:absolute;
  left:512px;
  top:31px;
  width:8px;
  height:39px;
}
#u222_seg4 {
  position:absolute;
  left:506px;
  top:57px;
  width:20px;
  height:20px;
}
#u223 {
  position:absolute;
  left:208px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
