body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u1 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:647px;
}
#u2 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u3 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u5 {
  position:absolute;
  left:14px;
  top:30px;
  width:13px;
  height:25px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:51px;
  top:30px;
  width:270px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8 {
  position:absolute;
  left:338px;
  top:30px;
  width:25px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:130px;
}
#u11 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:129px;
}
#u12 {
  position:absolute;
  left:2px;
  top:56px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u13 {
  position:absolute;
  left:131px;
  top:75px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:104px;
}
#u15 {
  position:absolute;
  left:14px;
  top:75px;
  width:106px;
  height:104px;
}
#u16 {
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u17 {
  position:absolute;
  left:131px;
  top:104px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u19 {
  position:absolute;
  left:131px;
  top:138px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u21 {
  position:absolute;
  left:131px;
  top:162px;
  width:99px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u23 {
  position:absolute;
  left:295px;
  top:139px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:130px;
}
#u26 {
  position:absolute;
  left:0px;
  top:194px;
  width:375px;
  height:129px;
}
#u27 {
  position:absolute;
  left:2px;
  top:56px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u28 {
  position:absolute;
  left:131px;
  top:205px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:104px;
}
#u30 {
  position:absolute;
  left:14px;
  top:205px;
  width:106px;
  height:104px;
}
#u31 {
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u32 {
  position:absolute;
  left:131px;
  top:234px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u34 {
  position:absolute;
  left:131px;
  top:268px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u36 {
  position:absolute;
  left:131px;
  top:292px;
  width:99px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u38 {
  position:absolute;
  left:295px;
  top:269px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:130px;
}
#u41 {
  position:absolute;
  left:0px;
  top:324px;
  width:375px;
  height:129px;
}
#u42 {
  position:absolute;
  left:2px;
  top:56px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u43 {
  position:absolute;
  left:131px;
  top:335px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:104px;
}
#u45 {
  position:absolute;
  left:14px;
  top:335px;
  width:106px;
  height:104px;
}
#u46 {
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u47 {
  position:absolute;
  left:131px;
  top:364px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u49 {
  position:absolute;
  left:131px;
  top:398px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u51 {
  position:absolute;
  left:131px;
  top:422px;
  width:99px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u53 {
  position:absolute;
  left:295px;
  top:399px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:130px;
}
#u56 {
  position:absolute;
  left:0px;
  top:454px;
  width:375px;
  height:129px;
}
#u57 {
  position:absolute;
  left:2px;
  top:56px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u58 {
  position:absolute;
  left:131px;
  top:465px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:104px;
}
#u60 {
  position:absolute;
  left:14px;
  top:465px;
  width:106px;
  height:104px;
}
#u61 {
  position:absolute;
  left:2px;
  top:44px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u62 {
  position:absolute;
  left:131px;
  top:494px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u64 {
  position:absolute;
  left:131px;
  top:528px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u66 {
  position:absolute;
  left:131px;
  top:552px;
  width:99px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u68 {
  position:absolute;
  left:295px;
  top:529px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:84px;
}
#u71 {
  position:absolute;
  left:0px;
  top:584px;
  width:375px;
  height:83px;
}
#u72 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u73 {
  position:absolute;
  left:131px;
  top:591px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:69px;
}
#u75 {
  position:absolute;
  left:14px;
  top:595px;
  width:106px;
  height:69px;
}
#u76 {
  position:absolute;
  left:2px;
  top:26px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u77 {
  position:absolute;
  left:131px;
  top:620px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u79 {
  position:absolute;
  left:295px;
  top:632px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
}
#u82 {
  position:absolute;
  left:0px;
  top:621px;
  width:375px;
  height:46px;
  text-align:left;
}
#u83 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
}
#u84 {
  position:absolute;
  left:337px;
  top:651px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
}
#u87 {
  position:absolute;
  left:298px;
  top:651px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u89 {
  position:absolute;
  left:298px;
  top:627px;
  width:18px;
  height:18px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#009933;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u91 {
  position:absolute;
  left:338px;
  top:628px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009933;
  text-align:center;
}
#u92 {
  position:absolute;
  left:0px;
  top:1px;
  width:18px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
}
#u93 {
  position:absolute;
  left:14px;
  top:636px;
  width:145px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
