body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:868px;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:867px;
  font-family:'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:426px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1281 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u1283 {
  position:absolute;
  left:14px;
  top:10px;
  width:13px;
  height:25px;
  font-family:'IOS8-Icons';
  font-weight:400;
  font-style:normal;
}
#u1284 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:392px;
}
#u1286 {
  position:absolute;
  left:0px;
  top:455px;
  width:375px;
  height:391px;
}
#u1287 {
  position:absolute;
  left:2px;
  top:188px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u1289 {
  position:absolute;
  left:29px;
  top:798px;
  width:92px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009933;
  text-align:center;
}
#u1290 {
  position:absolute;
  left:0px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u1289_ann {
  position:absolute;
  left:114px;
  top:794px;
  width:1px;
  height:1px;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u1291 {
  position:absolute;
  left:254px;
  top:798px;
  width:92px;
  height:25px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#009933;
  text-align:center;
}
#u1292 {
  position:absolute;
  left:0px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u1291_ann {
  position:absolute;
  left:339px;
  top:794px;
  width:1px;
  height:1px;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:169px;
}
#u1293 {
  position:absolute;
  left:59px;
  top:479px;
  width:259px;
  height:169px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:76px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
}
#u1295 {
  position:absolute;
  left:59px;
  top:599px;
  width:107px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
}
#u1296 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u1297 {
  position:absolute;
  left:29px;
  top:682px;
  width:154px;
  height:19px;
  font-size:16px;
}
#u1298 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1300 {
  position:absolute;
  left:29px;
  top:711px;
  width:71px;
  height:16px;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u1302 {
  position:absolute;
  left:100px;
  top:711px;
  width:30px;
  height:16px;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:2px;
}
#u1304 {
  position:absolute;
  left:29px;
  top:671px;
  width:317px;
  height:1px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:-8px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1307 {
  position:absolute;
  left:29px;
  top:738px;
  width:71px;
  height:16px;
}
#u1308 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:33px;
}
#u1309 {
  position:absolute;
  left:98px;
  top:738px;
  width:248px;
  height:32px;
  color:#000000;
}
#u1310 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:392px;
}
#u1312 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:391px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:188px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u1315 {
  position:absolute;
  left:29px;
  top:387px;
  width:92px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009933;
  text-align:center;
}
#u1316 {
  position:absolute;
  left:0px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u1315_ann {
  position:absolute;
  left:114px;
  top:383px;
  width:1px;
  height:1px;
}
#u1317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u1317 {
  position:absolute;
  left:254px;
  top:387px;
  width:92px;
  height:25px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#009933;
  text-align:center;
}
#u1318 {
  position:absolute;
  left:0px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u1317_ann {
  position:absolute;
  left:339px;
  top:383px;
  width:1px;
  height:1px;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:169px;
}
#u1319 {
  position:absolute;
  left:59px;
  top:68px;
  width:259px;
  height:169px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:76px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_ann {
  position:absolute;
  left:311px;
  top:64px;
  width:1px;
  height:1px;
}
#u1321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
}
#u1321 {
  position:absolute;
  left:59px;
  top:188px;
  width:107px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
}
#u1322 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u1323 {
  position:absolute;
  left:29px;
  top:271px;
  width:154px;
  height:19px;
  font-size:16px;
}
#u1324 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1326 {
  position:absolute;
  left:29px;
  top:300px;
  width:71px;
  height:16px;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u1328 {
  position:absolute;
  left:100px;
  top:300px;
  width:30px;
  height:16px;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1328_ann {
  position:absolute;
  left:123px;
  top:296px;
  width:1px;
  height:1px;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:2px;
}
#u1330 {
  position:absolute;
  left:29px;
  top:260px;
  width:317px;
  height:1px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:-8px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1333 {
  position:absolute;
  left:29px;
  top:327px;
  width:71px;
  height:16px;
}
#u1334 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:33px;
}
#u1335 {
  position:absolute;
  left:98px;
  top:327px;
  width:248px;
  height:32px;
  color:#000000;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u1335_ann {
  position:absolute;
  left:339px;
  top:323px;
  width:1px;
  height:1px;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:603px;
}
#u1338 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:602px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:293px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:213px;
}
#u1340 {
  position:absolute;
  left:33px;
  top:211px;
  width:308px;
  height:212px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:98px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
}
#u1342 {
  position:absolute;
  left:152px;
  top:250px;
  width:71px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1343 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u1344 {
  position:absolute;
  left:148px;
  top:372px;
  width:80px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1345 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1344_ann {
  position:absolute;
  left:221px;
  top:368px;
  width:1px;
  height:1px;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
}
#u1346 {
  position:absolute;
  left:108px;
  top:321px;
  width:159px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u1347 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1346_ann {
  position:absolute;
  left:260px;
  top:317px;
  width:1px;
  height:1px;
}
#u1348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:603px;
}
#u1350 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:602px;
  font-family:'IaxureTBG Medium', 'IaxureTBG';
  font-weight:500;
  font-style:normal;
}
#u1351 {
  position:absolute;
  left:2px;
  top:293px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:185px;
}
#u1352 {
  position:absolute;
  left:47px;
  top:229px;
  width:280px;
  height:184px;
  font-family:'IaxureTBG Medium', 'IaxureTBG';
  font-weight:500;
  font-style:normal;
}
#u1353 {
  position:absolute;
  left:2px;
  top:84px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u1355 {
  position:absolute;
  left:77px;
  top:341px;
  width:80px;
  height:40px;
  font-family:'IaxureTBG Bold', 'IaxureTBG';
  font-weight:700;
  font-style:normal;
}
#u1356 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u1355_ann {
  position:absolute;
  left:150px;
  top:337px;
  width:1px;
  height:1px;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u1357 {
  position:absolute;
  left:219px;
  top:342px;
  width:80px;
  height:40px;
  font-family:'IaxureTBG Bold', 'IaxureTBG';
  font-weight:700;
  font-style:normal;
}
#u1358 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u1357_ann {
  position:absolute;
  left:292px;
  top:338px;
  width:1px;
  height:1px;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
}
#u1359 {
  position:absolute;
  left:80px;
  top:294px;
  width:215px;
  height:15px;
  font-family:'IaxureTBG Medium', 'IaxureTBG';
  font-weight:500;
  font-style:normal;
}
#u1360 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u1361 {
  position:absolute;
  left:169px;
  top:261px;
  width:37px;
  height:20px;
  font-family:'IaxureTBG Bold', 'IaxureTBG';
  font-weight:700;
  font-style:normal;
}
#u1362 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
