body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:519px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1931 {
  position:absolute;
  left:7px;
  top:51px;
  width:40px;
  height:40px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1933 {
  position:absolute;
  left:104px;
  top:46px;
  width:100px;
  height:60px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1935 {
  position:absolute;
  left:260px;
  top:46px;
  width:100px;
  height:60px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1937 {
  position:absolute;
  left:260px;
  top:142px;
  width:100px;
  height:60px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1939 {
  position:absolute;
  left:419px;
  top:17px;
  width:100px;
  height:60px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
