body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:519px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u376 {
  position:absolute;
  left:7px;
  top:51px;
  width:40px;
  height:40px;
}
#u377 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u378 {
  position:absolute;
  left:104px;
  top:46px;
  width:100px;
  height:60px;
}
#u379 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u380 {
  position:absolute;
  left:260px;
  top:46px;
  width:100px;
  height:60px;
}
#u381 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u382 {
  position:absolute;
  left:260px;
  top:142px;
  width:100px;
  height:60px;
}
#u383 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u384 {
  position:absolute;
  left:419px;
  top:17px;
  width:100px;
  height:60px;
}
#u385 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
