body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:437px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:61px;
}
#u386 {
  position:absolute;
  left:81px;
  top:138px;
  width:92px;
  height:60px;
}
#u387 {
  position:absolute;
  left:2px;
  top:22px;
  width:88px;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u388 {
  position:absolute;
  left:284px;
  top:55px;
  width:29px;
  height:16px;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u390 {
  position:absolute;
  left:284px;
  top:81px;
  width:57px;
  height:16px;
}
#u391 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u392 {
  position:absolute;
  left:284px;
  top:107px;
  width:57px;
  height:16px;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u394 {
  position:absolute;
  left:284px;
  top:221px;
  width:29px;
  height:16px;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u396 {
  position:absolute;
  left:284px;
  top:134px;
  width:29px;
  height:16px;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u398 {
  position:absolute;
  left:284px;
  top:160px;
  width:57px;
  height:16px;
}
#u399 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:17px;
}
#u400 {
  position:absolute;
  left:284px;
  top:273px;
  width:153px;
  height:16px;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u402 {
  position:absolute;
  left:284px;
  top:201px;
  width:42px;
  height:16px;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:17px;
}
#u404 {
  position:absolute;
  left:284px;
  top:247px;
  width:153px;
  height:16px;
}
#u405 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
