body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:437px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:61px;
}
#u162 {
  position:absolute;
  left:81px;
  top:138px;
  width:92px;
  height:60px;
}
#u163 {
  position:absolute;
  left:2px;
  top:22px;
  width:88px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u164 {
  position:absolute;
  left:284px;
  top:55px;
  width:29px;
  height:16px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u166 {
  position:absolute;
  left:284px;
  top:81px;
  width:57px;
  height:16px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u168 {
  position:absolute;
  left:284px;
  top:107px;
  width:57px;
  height:16px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u170 {
  position:absolute;
  left:284px;
  top:221px;
  width:29px;
  height:16px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u172 {
  position:absolute;
  left:284px;
  top:134px;
  width:29px;
  height:16px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u174 {
  position:absolute;
  left:284px;
  top:160px;
  width:57px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:17px;
}
#u176 {
  position:absolute;
  left:284px;
  top:273px;
  width:153px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u178 {
  position:absolute;
  left:284px;
  top:201px;
  width:42px;
  height:16px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:17px;
}
#u180 {
  position:absolute;
  left:284px;
  top:247px;
  width:153px;
  height:16px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
