body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:93px;
}
#u2114 {
  position:absolute;
  left:450px;
  top:0px;
  width:450px;
  height:92px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:38px;
  width:446px;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:1356px;
}
#u2116 {
  position:absolute;
  left:450px;
  top:92px;
  width:450px;
  height:1355px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:670px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:93px;
}
#u2119 {
  position:absolute;
  left:900px;
  top:0px;
  width:450px;
  height:92px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:38px;
  width:446px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:1356px;
}
#u2121 {
  position:absolute;
  left:900px;
  top:92px;
  width:450px;
  height:1355px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:670px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:93px;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:92px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:38px;
  width:446px;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:1356px;
}
#u2126 {
  position:absolute;
  left:0px;
  top:92px;
  width:450px;
  height:1355px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:670px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:54px;
}
#u2128 {
  position:absolute;
  left:63px;
  top:303px;
  width:183px;
  height:53px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u2131 {
  position:absolute;
  left:484px;
  top:303px;
  width:132px;
  height:53px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2133 {
  position:absolute;
  left:722px;
  top:303px;
  width:137px;
  height:53px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
}
#u2135 {
  position:absolute;
  left:722px;
  top:624px;
  width:137px;
  height:51px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u2137 {
  position:absolute;
  left:450px;
  top:366px;
  width:103px;
  height:15px;
  font-size:12px;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2139 {
  position:absolute;
  left:616px;
  top:330px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2139_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u2139_seg1 {
  position:absolute;
  left:90px;
  top:-4px;
  width:8px;
  height:328px;
}
#u2139_seg2 {
  position:absolute;
  left:90px;
  top:316px;
  width:16px;
  height:8px;
}
#u2139_seg3 {
  position:absolute;
  left:93px;
  top:310px;
  width:20px;
  height:20px;
}
#u2140 {
  position:absolute;
  left:44px;
  top:111px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141 {
  position:absolute;
  left:616px;
  top:330px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2141_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u2141_seg1 {
  position:absolute;
  left:93px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2142 {
  position:absolute;
  left:3px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2143 {
  position:absolute;
  left:722px;
  top:401px;
  width:137px;
  height:53px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2145 {
  position:absolute;
  left:722px;
  top:492px;
  width:137px;
  height:53px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2147 {
  position:absolute;
  left:616px;
  top:330px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2147_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u2147_seg1 {
  position:absolute;
  left:90px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2147_seg2 {
  position:absolute;
  left:90px;
  top:94px;
  width:16px;
  height:8px;
}
#u2147_seg3 {
  position:absolute;
  left:93px;
  top:88px;
  width:20px;
  height:20px;
}
#u2148 {
  position:absolute;
  left:44px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149 {
  position:absolute;
  left:616px;
  top:330px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2149_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u2149_seg1 {
  position:absolute;
  left:90px;
  top:-4px;
  width:8px;
  height:197px;
}
#u2149_seg2 {
  position:absolute;
  left:90px;
  top:185px;
  width:16px;
  height:8px;
}
#u2149_seg3 {
  position:absolute;
  left:93px;
  top:179px;
  width:20px;
  height:20px;
}
#u2150 {
  position:absolute;
  left:44px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151 {
  position:absolute;
  left:859px;
  top:330px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2151_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u2151_seg1 {
  position:absolute;
  left:7px;
  top:-4px;
  width:8px;
  height:328px;
}
#u2151_seg2 {
  position:absolute;
  left:0px;
  top:316px;
  width:15px;
  height:8px;
}
#u2151_seg3 {
  position:absolute;
  left:-7px;
  top:310px;
  width:20px;
  height:20px;
}
#u2152 {
  position:absolute;
  left:-39px;
  top:151px;
  width:100px;
  word-wrap:break-word;
}
#u2153 {
  position:absolute;
  left:859px;
  top:428px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2153_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u2153_seg1 {
  position:absolute;
  left:7px;
  top:-4px;
  width:8px;
  height:230px;
}
#u2153_seg2 {
  position:absolute;
  left:0px;
  top:218px;
  width:15px;
  height:8px;
}
#u2153_seg3 {
  position:absolute;
  left:-7px;
  top:212px;
  width:20px;
  height:20px;
}
#u2154 {
  position:absolute;
  left:-39px;
  top:102px;
  width:100px;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
}
#u2155 {
  position:absolute;
  left:722px;
  top:730px;
  width:137px;
  height:51px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
}
#u2157 {
  position:absolute;
  left:722px;
  top:1036px;
  width:137px;
  height:51px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
}
#u2159 {
  position:absolute;
  left:722px;
  top:1118px;
  width:137px;
  height:51px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2161 {
  position:absolute;
  left:1251px;
  top:889px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2161_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u2161_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u2162 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
}
#u2164 {
  position:absolute;
  left:944px;
  top:303px;
  width:132px;
  height:53px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2166 {
  position:absolute;
  left:1182px;
  top:303px;
  width:137px;
  height:53px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u2168 {
  position:absolute;
  left:910px;
  top:366px;
  width:103px;
  height:15px;
  font-size:12px;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2170 {
  position:absolute;
  left:1076px;
  top:330px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2170_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u2170_seg1 {
  position:absolute;
  left:93px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2171 {
  position:absolute;
  left:3px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2172 {
  position:absolute;
  left:1182px;
  top:401px;
  width:137px;
  height:53px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2174 {
  position:absolute;
  left:1182px;
  top:492px;
  width:137px;
  height:53px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2176 {
  position:absolute;
  left:1076px;
  top:330px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2176_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u2176_seg1 {
  position:absolute;
  left:90px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2176_seg2 {
  position:absolute;
  left:90px;
  top:94px;
  width:16px;
  height:8px;
}
#u2176_seg3 {
  position:absolute;
  left:93px;
  top:88px;
  width:20px;
  height:20px;
}
#u2177 {
  position:absolute;
  left:44px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178 {
  position:absolute;
  left:1076px;
  top:330px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2178_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u2178_seg1 {
  position:absolute;
  left:90px;
  top:-4px;
  width:8px;
  height:197px;
}
#u2178_seg2 {
  position:absolute;
  left:90px;
  top:185px;
  width:16px;
  height:8px;
}
#u2178_seg3 {
  position:absolute;
  left:93px;
  top:179px;
  width:20px;
  height:20px;
}
#u2179 {
  position:absolute;
  left:44px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2180 {
  position:absolute;
  left:1182px;
  top:729px;
  width:137px;
  height:53px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2182 {
  position:absolute;
  left:1182px;
  top:836px;
  width:137px;
  height:53px;
}
#u2183 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2184 {
  position:absolute;
  left:1182px;
  top:940px;
  width:137px;
  height:53px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2186 {
  position:absolute;
  left:1182px;
  top:1022px;
  width:137px;
  height:53px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u2188 {
  position:absolute;
  left:1182px;
  top:1111px;
  width:137px;
  height:53px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u2190 {
  position:absolute;
  left:1319px;
  top:428px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2190_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u2190_seg1 {
  position:absolute;
  left:7px;
  top:-142px;
  width:8px;
  height:146px;
}
#u2190_seg2 {
  position:absolute;
  left:-453px;
  top:-142px;
  width:468px;
  height:8px;
}
#u2190_seg3 {
  position:absolute;
  left:-453px;
  top:-142px;
  width:8px;
  height:368px;
}
#u2190_seg4 {
  position:absolute;
  left:-460px;
  top:218px;
  width:15px;
  height:8px;
}
#u2190_seg5 {
  position:absolute;
  left:-467px;
  top:212px;
  width:20px;
  height:20px;
}
#u2191 {
  position:absolute;
  left:-380px;
  top:-146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192 {
  position:absolute;
  left:246px;
  top:330px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2192_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:242px;
  height:8px;
}
#u2192_seg1 {
  position:absolute;
  left:225px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2193 {
  position:absolute;
  left:69px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194 {
  position:absolute;
  left:246px;
  top:330px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2194_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:198px;
  height:8px;
}
#u2194_seg1 {
  position:absolute;
  left:190px;
  top:-44px;
  width:8px;
  height:48px;
}
#u2194_seg2 {
  position:absolute;
  left:190px;
  top:-44px;
  width:498px;
  height:8px;
}
#u2194_seg3 {
  position:absolute;
  left:680px;
  top:-44px;
  width:8px;
  height:48px;
}
#u2194_seg4 {
  position:absolute;
  left:680px;
  top:-4px;
  width:18px;
  height:8px;
}
#u2194_seg5 {
  position:absolute;
  left:685px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2195 {
  position:absolute;
  left:299px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u2196 {
  position:absolute;
  left:105px;
  top:731px;
  width:100px;
  height:51px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2198 {
  position:absolute;
  left:791px;
  top:675px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2198_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u2198_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u2199 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200 {
  position:absolute;
  left:1251px;
  top:782px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2200_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u2200_seg1 {
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u2201 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202 {
  position:absolute;
  left:205px;
  top:757px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2202_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:193px;
  height:8px;
}
#u2202_seg1 {
  position:absolute;
  left:185px;
  top:-4px;
  width:8px;
  height:114px;
}
#u2202_seg2 {
  position:absolute;
  left:185px;
  top:102px;
  width:792px;
  height:8px;
}
#u2202_seg3 {
  position:absolute;
  left:964px;
  top:96px;
  width:20px;
  height:20px;
}
#u2203 {
  position:absolute;
  left:386px;
  top:97px;
  width:100px;
  word-wrap:break-word;
}
#u2204 {
  position:absolute;
  left:1182px;
  top:967px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2204_seg0 {
  position:absolute;
  left:-316px;
  top:-4px;
  width:316px;
  height:8px;
}
#u2204_seg1 {
  position:absolute;
  left:-316px;
  top:-4px;
  width:8px;
  height:103px;
}
#u2204_seg2 {
  position:absolute;
  left:-323px;
  top:91px;
  width:15px;
  height:8px;
}
#u2204_seg3 {
  position:absolute;
  left:-330px;
  top:85px;
  width:20px;
  height:20px;
}
#u2205 {
  position:absolute;
  left:-259px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u2206 {
  position:absolute;
  left:105px;
  top:942px;
  width:100px;
  height:51px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2208 {
  position:absolute;
  left:1182px;
  top:967px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2208_seg0 {
  position:absolute;
  left:-966px;
  top:-4px;
  width:966px;
  height:8px;
}
#u2208_seg1 {
  position:absolute;
  left:-966px;
  top:-4px;
  width:8px;
  height:9px;
}
#u2208_seg2 {
  position:absolute;
  left:-977px;
  top:-3px;
  width:19px;
  height:8px;
}
#u2208_seg3 {
  position:absolute;
  left:-984px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2209 {
  position:absolute;
  left:-539px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210 {
  position:absolute;
  left:859px;
  top:756px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2210_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:327px;
  height:8px;
}
#u2210_seg1 {
  position:absolute;
  left:310px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2211 {
  position:absolute;
  left:112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212 {
  position:absolute;
  left:722px;
  top:756px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2212_seg0 {
  position:absolute;
  left:-506px;
  top:-4px;
  width:506px;
  height:8px;
}
#u2212_seg1 {
  position:absolute;
  left:-506px;
  top:-4px;
  width:8px;
  height:9px;
}
#u2212_seg2 {
  position:absolute;
  left:-517px;
  top:-3px;
  width:19px;
  height:8px;
}
#u2212_seg3 {
  position:absolute;
  left:-524px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2213 {
  position:absolute;
  left:-309px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214 {
  position:absolute;
  left:1251px;
  top:993px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2214_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u2214_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u2215 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216 {
  position:absolute;
  left:1251px;
  top:1075px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2216_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u2216_seg1 {
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u2217 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218 {
  position:absolute;
  left:791px;
  top:1087px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u2218_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u2218_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u2219 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
